<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <main>
        <h5 id="champs">World Chess Champions</h5>

        <p>Here is a list of the World Chess Champions from the middle of the 20th century to the present day:</p>
        <ol>
            <li>Mikhail Botvinnik (1948-1957, 1958-1960, 1961-1963);</li>
            <li>Vasily Smyslov (1957-1958);</li>
            <li>Mikhail Tal (1960-1961);</li>
            <li>Tigran Petrosian (1963-1969);</li>
            <li>Boris Spassky (1969-1972);</li>
            <li>Bobby Fischer (1972-1975);</li>
            <li>Anatoly Karpov (1975-1985);</li>
            <li>Garry Kasparov (1985-2000);</li>
            <li>Vladimir Kramnik (2000-2007);</li>
            <li>Viswanathan Anand (2007-2013);</li>
            <li>Magnus Carlsen (2013-present).</li>
        </ol>

        <h5 id="comb">Chess Combinations</h5>

        <p>Chess combinations are powerful tactical sequences in chess that involve a series of moves to gain an advantage, often leading to winning material, checkmating the opponent, or securing a decisive position. They require precise calculation and foresight to execute successfully. </p>
        <p>Some of the most famous chess combinations include:</p>
        <ul>
            <li>'Immortal Game' (Anderssen vs. Kieseritzky);</li>
            <li>'Evergreen Game' (Anderssen vs. Dufresne);</li>
            <li>'Opera Game' (Morphy vs. Duke of Brunswick & Count Isouard);</li>
            <li>'Sacrifice of the Century' (Alekhine vs. Vasic);</li>
            <li>'Game of the Century' (Fischer vs. Byrne);</li>
            <li>'Brilliancy Prize' (Kasparov vs. Topalov).</li>
        </ul>
        <p>These combinations have become iconic in chess history, showcasing the beauty and creativity of tactical play on the board.</p>
    
    </main>
 
    <button id="hbutton" onclick="window.location.href='/'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
        </svg>
    </button>
    
        <button id="hbutton" onclick="window.location.href='/history'">History</button>

</head>
<body>
    
</body>
</html>