<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Brief History of Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <h5 id="history">The History</h5>
    <button id="hbutton" onclick="window.location.href='/'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
        </svg>
    </button>
    
    <button id="hbutton" onclick="window.location.href='/extra'">Extra</button>

        <h3>Origins</h3>
        <p>Chess, as we know it today, was born out of the Indian game chaturanga before the 600s AD. The game spread throughout Asia and Europe over the coming centuries, and eventually evolved into what we know as chess around the 16th century.</p>
        <div class="antique_chess_photo">
            <img src="static/img/foto.jpeg" alt="An antique Chaturanga board and pieces"  height="200">
            <article><h4>An antique Chaturanga board and pieces</h4></article>
        </div>

        <h3>Creation and theory</h3>
        <p>Chess theory progressed slowly until the mid-18th century, when Francois-Andre Philidor published his book <em>"Analyse du jeu des Échecs"</em> in 1749. This book introduced new concepts for opening moves and a famous technique for endgames involving rooks and pawns, which is still used in chess today. </p>
        <p>During the mid-1800s, the standardization of chess sets took place. Prior to the 1850s, chess sets varied greatly in their designs. In 1849, Jaques of London introduced a new style of chess pieces created by Nathaniel Cooke. These pieces, known as the Staunton pattern, were endorsed by Howard Staunton, the top player of that era. The Staunton pattern pieces became immensely popular and have since become the standard for chess sets used in tournaments around the world.</p>
        
        <div class="chess_set">
        <img src="static/img/chess_set.jpeg" alt="An early Jaques Staunton chess set"  height="200">
        <article><h4>An early Jaques Staunton chess set</h4></article>
        </div>

        <p>In the 19th century, chess clocks were introduced to competitive play. Prior to this development, a single chess game could last as long as 14 hours! With the adoption of chess clocks and the standardization of chess sets, the necessary equipment for modern matches and tournaments was established. If you are interested in more information on the history of chess,

            <a class="link" href="https://www.chess.com/article/view/history-of-chess#theory"> <b>click on the link.</b></a>
        </p>
</head>
<body>
    
</body>
</html>